html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    margin: 0;
}

.calculator {
    width: 400px;
    margin: auto;
    padding: 30px 20px 30px 20px;
    background-color: hsla(0, 0%, 41%, 0.5);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 6px;
}

.off {
    color: whitesmoke;
}

#display {
    display: flex;
    box-sizing: border-box;
    width: 392px;
    border: gray solid 1px;
    background: whitesmoke;
    border-radius: 6px;
    height: 100px;
    padding: 8px 22px 8px 8px;
    justify-content: end;
    align-items: center;
    font-size: 3em;
    font-family: monospace;
    margin: 0 0 16px 4px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.button {
    box-sizing: border-box;
    width: 25%;
    padding: 4px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 2em;
    font-family: monospace;
}

#power {
    display: flex;
    justify-content: center;
    align-items: center;
}